{% extends "./admin_base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    {% if item.type == 'image/png' or item.type == 'image/jpeg'%}
    <img src="/project/archive_download?id={{http.query.id}}" class="img-responsive" alt="{{item.name}}"></img>
    {% else %}
    无法预览该文件，请<a href="/project/archive_download?id={{http.query.id}}">下载</a>后再查看。
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
<script src="/static/vendor/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="/static/vendor/jquery-ui/ui/widget.js"></script>
<script src="/static/vendor/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script>
$(function(){


})
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/vendor/datatables-colvis/css/dataTables.colVis.css">
<link rel="stylesheet" href="/static/vendor/datatables/media/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="/static/vendor/dataTables.fontAwesome/index.css">
<link rel="stylesheet" href="/static/vendor/blueimp-file-upload/css/jquery.fileupload.css">
{% endblock %}
