{% extends "./user_base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <form action="/user/message_edit" method="post" class="form-horizontal">
      <input type="hidden" name="id" value="{{item.id}}">
      <input type="hidden" name="oper" value="{{'edit' if item.id else 'add'}}">
      <input type="hidden" name="parent_id" value="{{item.parent_id}}">
      <input type="hidden" name="root_id" value="{{item.root_id}}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">公文信息</div>
        </div>
        <div class="panel-body bt">

          <div class="form-group">
            <label class="col-sm-2 control-label pr0">公文标题</label>
            <div class="col-sm-10">
              <input name="name" value="{{item.name}}" type="text" class="form-control" required minlength="2" maxlength="32">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label pr0">收件人</label>
            <div class="col-sm-10">
              <select name="user_id" class="chosen-select input-md form-control" data-placeholder="请选择一个接收人">
                <option value=""></option>
                {% for o in userList %}
                <option value="{{o.id}}" {{'selected' if item.user_id==o.id}}>{{o.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label pr0">备注</label>
            <div class="col-sm-10">
              <div id="summernote">
                {{item.content | safe}}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label pr0">附件</label>
            <div class="col-sm-10 attach-list">
              {% for o in attachList %}
              <div class="btn-group mb-sm attach-item">
                <input type="hidden" name="attach_id" value="{{o.id}}">
                <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-default">
                  <em class="fa fa-paperclip fa-fw"></em> {{o.name}} <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="/user/download?id={{o.id}}"><em class="fa fa-download fa-fw"></em> <span>下载</span></a></li>
                  <li><a class="btn-delete" href="javascript:;"><em class="fa fa-trash fa-fw"></em> <span>删除</span></a></li>
                </ul>
              </div>
              {% endfor %}
              <div class="mb-sm btn btn-info inline fileinput-button" data-url="/user/upload" data-name="attach_id">
                <em class="fa fa-plus fa-fw"></em><span>上传文档</span> <span id="pn"></span>
                <input type="file" name="files[]" multiple>
              </div>
            </div>
          </div>

        </div>
        <div class="panel-footer text-center">
          <button type="submit" class="btn btn-info"><em class="fa fa-check fa-fw"></em>{{'保存' if item.id else '添加'}}</button>
          <a href="javascript:history.go(-1)" class="btn btn-default"><em class="fa fa-close fa-fw"></em>取消</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/vendor/chosen_v1.2.0/chosen.jquery.min.js"></script>
<script src="/static/vendor/parsleyjs/dist/parsley.min.js"></script>
<script src="/static/vendor/parsleyjs/dist/i18n/zh_cn.js"></script>
<script src="/static/vendor/sweetalert/dist/sweetalert.min.js"></script>
<script src="/static/vendor/summernote/summernote.js"></script>
<script src="/static/vendor/summernote/lang/summernote-zh-CN.js"></script>
<script src="/static/vendor/jquery-ui/ui/widget.js"></script>
<script src="/static/vendor/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script>
$(function(){

  $('.chosen-select').chosen({
    no_results_text: '没有结果'
  });

  $('.attach-list').on('click', '.btn-delete', function(){
    $(this).parents('.attach-item').remove();
  });

  $('.fileinput-button').fileupload({
    done: function(e, data){
      var $this = $(this);
      var result = data.result;
      var name = $this.data('name');

      _.forEach(result.data, function(o){
        $this.before(''
          + '<div class="btn-group mb-sm attach-item">'
          +   '<input type="hidden" name="attach_id" value="'+o.id+'">'
          +   '<button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-default">'
          +     '<em class="fa fa-paperclip fa-fw"></em>' + o.name + ' <span class="caret"></span>'
          +   '</button>'
          +   '<ul role="menu" class="dropdown-menu">'
          +     '<li><a href="/user/download?id='+o.id+'"><em class="fa fa-download fa-fw"></em> <span>下载</span></a></li>'
          +     '<li><a class="btn-delete" href="javascript:;"><em class="fa fa-trash fa-fw"></em> <span>删除</span></a></li>'
          +   '</ul>'
          + '</div>'
        );
      });
    }
  }).on('fileuploadprogressall', function(e, data){
    var val = data.loaded / data.total;
    var str = val>=1 ? '' : (val * 100).toFixed(2)+'%';
    $('#pn').html(str);
  });

  var $content = $('#summernote').summernote({lang:'zh-CN',dialogsInBody:true,minHeight:150});

  $('form').parsley().on('form:submit', function(){
    var $form = this.$element;
    var data = _.reduce($form.serializeArray(), function(result, o) {
      result[o.name] = o.value;
      return result;
    }, {});

    data.content = $content.summernote('code');

    var url = $form.attr('action');
    var type = $form.attr('method');
    $.ajax({
      url: url,
      type: type,
      data: data,
      success: function(resp) {
        if (resp.errno == 0) {
          swal({title:'操作成功！',type:'success'},function () {
            setTimeout(function(){
              history.go(-1);
            },100);
          });
        } else {
          alert(resp.errmsg);
        }
      }
    });
    return false;
  });
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/vendor/chosen_v1.2.0/chosen.min.css">
<link rel="stylesheet" href="/static/vendor/sweetalert/dist/sweetalert.css">
<link rel="stylesheet" href="/static/vendor/summernote/summernote.css" >
<link rel="stylesheet" href="/static/vendor/blueimp-file-upload/css/jquery.fileupload.css">
{% endblock %}
