{% extends "./user_base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/user/mail_edit?reply_id={{item.id}}" class="btn btn-default">
          <em class="fa fa-question fa-fw"></em><span>回复</span>
        </a>
        <a href="/user/mail_edit?forward_id={{item.id}}" class="btn btn-default">
          <em class="fa fa-question fa-fw"></em><span>转发</span>
        </a>
      </div>
      <div class="panel-body bt">
        <p>标题:{{item.name}}</p>
        <p>发件人:{{item.user_name}}</p>
        <p>收件人:{{item.to_user_name}}</p>
        <p>联系电话:{{item.mobile}}</p>
        <p>正文:</p>
        <p>
          {{item.content}}
        <p/>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/vendor/chosen_v1.2.0/chosen.jquery.min.js"></script>
<script src="/static/vendor/parsleyjs/dist/parsley.min.js"></script>
<script src="/static/vendor/parsleyjs/dist/i18n/zh_cn.js"></script>
<script src="/static/vendor/sweetalert/dist/sweetalert.min.js"></script>
<script src="/static/vendor/jquery-ui/ui/widget.js"></script>
<script src="/static/vendor/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="/static/vendor/summernote/summernote.js"></script>
<script src="/static/vendor/summernote/lang/summernote-zh-CN.js"></script>
<script>
$(function(){
  $('.chosen-select').chosen({
    no_results_text: '没有结果'
  });
  $('.chosen-select-deselect').chosen({
    no_results_text: '没有结果',
    allow_single_deselect:true
  });

  var updateSelect = function($select){
    var value = $select.data('value');
    if(!value) return;
    var level = $select.data('level');
    var group = $select.data('group');

    var pvalue = $('option[value='+value+']', $select).data('parent-id');
    if(pvalue){
      $('option[data-parent-id='+pvalue+']', $select).show();
    }
    $select.val(value);
    $select.trigger("chosen:updated");

    var $parent = $('select[data-group='+group+'][data-level='+(level-1)+']');

    if($parent.size()){
      $parent.data('value', pvalue);
      updateSelect($parent);
    }
  }
  $('select[data-group][data-level] option[data-parent-id]').hide();
  $('select[data-group][data-level]').trigger("chosen:updated");
  $('select[data-group][data-level][data-value]').each(function(){
    updateSelect($(this));
  });
  $('select[data-group][data-level]').on('change', function(){
    var $this = $(this);
    var value = $this.val();
    var level = $this.data('level');
    var group = $this.data('group');

    var $child = $('select[data-group='+group+'][data-level='+(level-0+1)+']');
    $('option', $child).hide();
    if(value){
      console.log(value);
      $('option[data-parent-id='+value+']', $child).show();
    }
    $child.val('');
    $child.trigger("chosen:updated");
  });

  $('.attach-list').on('click', '.btn-delete', function(){
    $(this).parents('.attach-item').remove();
  });

  $('.fileinput-button').fileupload({
    done: function(e, data){
      var $this = $(this);
      var result = data.result;
      var name = $this.data('name');

      _.forEach(result.data, function(o){
        $this.before(''
          + '<div class="btn-group mb-sm attach-item">'
          +   '<input type="hidden" name="attach_id" value="'+o.id+'">'
          +   '<button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-default">'
          +     '<em class="fa fa-paperclip fa-fw"></em>' + o.name + ' <span class="caret"></span>'
          +   '</button>'
          +   '<ul role="menu" class="dropdown-menu">'
          +     '<li><a href="/user/download?id='+o.id+'"><em class="fa fa-download fa-fw"></em> <span>下载</span></a></li>'
          +     '<li><a class="btn-delete" href="javascript:;"><em class="fa fa-trash fa-fw"></em> <span>删除</span></a></li>'
          +   '</ul>'
          + '</div>'
        );
      });
    }
  }).on('fileuploadprogressall', function(e, data){
    var val = data.loaded / data.total;
    var str = val>=1 ? '' : (val * 100).toFixed(2)+'%';
    $('#pn').html(str);
  });

  var $content = $('#summernote').summernote({lang:'zh-CN',dialogsInBody:true,minHeight:150});

  $('form').parsley().on('form:submit', function(){

    var $form = this.$element;
    var data = _.reduce($form.serializeArray(), function(result, o) {
      result[o.name] = o.value;
      return result;
    }, {});
    data.content = $content.summernote('code');

    var url = $form.attr('action');
    var type = $form.attr('method');
    $.ajax({
      url: url,
      type: type,
      data: data,
      success: function(resp) {
        if (resp.errno == 0) {
          swal({title:'操作成功！',type:'success'},function () {
            setTimeout(function(){
              history.go(-1);
            },100);
          });
        } else {
          alert(resp.errmsg);
        }
      }
    });
    return false;
  });
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/vendor/chosen_v1.2.0/chosen.min.css">
<link rel="stylesheet" href="/static/vendor/sweetalert/dist/sweetalert.css">
<link rel="stylesheet" href="/static/vendor/blueimp-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/static/vendor/summernote/summernote.css" >
{% endblock %}
